.container-wrapper{
  min-height: 120px;
}
.container {
    display:inline-grid;
    grid-auto-columns:1fr;
    width:120px;
    vertical-align:top;
  }
  .container > :nth-child(2) {
    grid-column:2;
  }
  
  .container > :nth-last-child(5) ~ :nth-child(3),
  .container > :nth-last-child(7) ~ :nth-child(3), /* 7 = 5 + 2 */
  .container > :nth-last-child(9) ~ :nth-child(3){ /* 9 = 7 + 2 */
   grid-column:3;
  }
  
  .container > :nth-last-child(10) ~ :nth-child(4),
  .container > :nth-last-child(13) ~ :nth-child(4), /* 13 = 10 + 3 */
  .container > :nth-last-child(16) ~ :nth-child(4){ /* 16 = 13 + 3 */
   grid-column:4;
  }
  
  .container > :nth-last-child(17) ~ :nth-child(5),
  .container > :nth-last-child(21) ~ :nth-child(5), /* 21 = 17 + 4 */
  .container > :nth-last-child(25) ~ :nth-child(5){ /* 25 = 21 + 4 */
   grid-column:5;
  }
  
  .container > * {
    //border:1px solid red;
  }
  .container > *::before {
    content:"";
    display:inline-block;
    padding-top: calc( 100% - 4px );
  }
  .container .item{
    position: relative;
    span{
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      color:#fff;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .wrapper{
    background-color: #dee4e6;
    border-radius: 4px;
    border: 1px solid #dee1e3;
    width: 120px;
    display: inline-block;
    margin: 10px;
    font-size: 12px;
    font-family: serif;
  }
.header{
  background-color: #aa9bef;
  padding: 5px 10px;
  color: #fff;
  text-transform: uppercase;
  text-align: right;
  font-weight: bold;
}

.item:nth-child(1){background-color: #545b7b;}
.item:nth-child(2){background-color: #9ed600;}
.item:nth-child(3){background-color:#ca7c99;}
.item:nth-child(4){background-color: #75c9e6;}
.item:nth-child(5){background-color: #ea481c;}
.item:nth-child(6){background-color:#004fd2;}
.item:nth-child(7){background-color: #fe31a9;}
.item:nth-child(8){background-color:#00caff;}
.item:nth-child(9){background-color: #ff9c00;}
.item:nth-child(10){background-color: #fe31a9;}
.item:nth-child(11){background-color: #545b7b;}
.item:nth-child(12){background-color: #9ed600;}
.item:nth-child(13){background-color:#ca7c99;}
.item:nth-child(14){background-color: #75c9e6;}
.item:nth-child(15){background-color: #ea481c;}
.item:nth-child(16){background-color:#004fd2;}
.item:nth-child(17){background-color: #fe31a9;}
.item:nth-child(18){background-color:#00caff;}
.item:nth-child(19){background-color: #ff9c00;}